:root{
    --green: #069D47;
    --dark-green: #002F15;
    --gray: hsl(0, 0%, 75%);
    --background-blur: 0 0 4px 2px rgb(0 0 0 / 0.1);
    --form-input-border: 1px solid var(--gray);
    --button-border: 3px solid var(--green);
    --cover-h2-size: 2rem;
    --main-h2-size: 1.5rem;
    --img-border-radius: 5px;
    --blur-border-radius: 12px;
    --category-radius: 90px;
}

@font-face {
    font-family: Shrikhand;
    src: url(./fonts/Shrikhand-Regular.ttf);
}

@font-face {
    font-family: Philosopher;
    src: url(./fonts/Philosopher-Regular.ttf);
}

@font-face {
    font-family: Inter;
    src: url(./fonts/Inter-Regular.ttf);
}

body{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 0.1fr 1fr 8.8fr 0.1fr;
    grid-template-areas: 
        "header header header"
        "cover cover cover"
        "main main main"
        "footer footer footer";
}

header{
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 1rem 0 1rem;
}

header a{
    text-decoration: none;
    color: var(--dark-green);
    font-family: Philosopher;
    font-weight: bold;
    font-size: 1.313rem;
}
header .nav1{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .nav1 .logo{
    align-self: center;
    color: var(--green);
    font-family: Shrikhand;
    font-size: 1.2rem;
}

header .logo h1{
    margin: 0;
}

header .nav1 ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .nav1 ul li{
    margin-left: 2rem;
}

header .nav2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

header .nav2 ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .nav2 ul li{
    margin-right: 1.5rem;
}

header a:hover{
    color: var(--green);
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main_cover{
    grid-area: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
}

.main_cover_details{
    position: absolute;
    align-self: center;
    text-align: center;
    font-family: Inter;
}

.main_cover_details h2{
    font-size: var(--cover-h2-size) ;
}

.main_cover_details p{
    width: 30rem;
}

button{
    width: 7rem;
    height: 2rem;
    background-color: white;
    border: var(--button-border);
    border-radius: 10px;
    color: var(--green);
}

main{
    grid-area: main;
    display: grid;
    justify-items: center;
    align-items: center;
    font-family: Inter;
}

main h2{
    margin-right: 50rem;
    font-size: var(--main-h2-size);
    font-family: Inter;
}

.main_best button{
    margin-left: 51rem;
}

.main_boxes{
    display: flex;
    flex-direction: row;
}

.main_box img{
    width: 10rem;
    height: 10rem;
    margin-right: 1.5rem;
    border-radius: var(--img-border-radius);
}

.main_recommend{
    display: flex;
    flex-direction: row;
    width: fit-content;
    padding: 2rem;
    box-shadow: var(--background-blur);
    border-radius: var(--blur-border-radius);
}

#hoolniiZurag{
    width: 15rem;
    height: 15rem;
    border-radius: var(--img-border-radius);
}

.editor{
    display: flex;
    flex-direction: row;
    margin-top: 2.5rem;
}

#profile{
    width: 3rem;
    height: 3rem;
}

.main_recommend_details{
    margin-left: 4rem;
    width: 35rem;
    
}

#category{
    width: fit-content;
    height: auto;
    padding: 0.3rem;
    margin-right: 0.5rem;
    background-color: var(--green);
    border-radius: var(--category-radius);
    color: white;
    text-align: center;
}

.main_advice{
    display: flex;
    flex-direction: row;
}

.main_advice_box{
    margin-right: 4rem;
}

.main_advice img{
    width: 25rem;
    height: 15rem;
    border-radius: var(--img-border-radius);
}

.main_advice_details{
    box-shadow: var(--background-blur);
    border-radius: var(--blur-border-radius);
    width: 23rem;
    padding: 1rem;
}

.categories{
    display: flex;
    flex-direction: row;
}

.main_latest{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 85%;
}

.main_latest img{
    width: 10rem;
    height: 10rem;
    margin: 0.5rem;
    border-radius: var(--img-border-radius);
}

footer{
    grid-area: footer;
    margin-top: 5rem;
    background-color: #069D47;
    font-family: Philosopher;
}

footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem 15rem 1rem 15rem;
}

footer a{
    font-size: 0.8rem;
    text-decoration: none;
    color: white;
}