:root{
    --green: #069D47;
    --dark-green: #002F15;
}

@font-face {
    font-family: Shrikhand;
    src: url(./fonts/Shrikhand-Regular.ttf);
}

@font-face {
    font-family: Philosopher;
    src: url(./fonts/Philosopher-Regular.ttf);
}

header{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    font-family: Philosopher;
}

header .logo{
    color: var(--green);
    font-family: Shrikhand;
    font-size: 16px;
}

header a{
    color: var(--dark-green);
    font-weight: bold;
    font-size: 24px;
}

header ul{
    list-style-type: none;
    margin-top: 30px;
}

a{
    text-decoration: none;
}

.background{
    position: relative;
}
.welcome_box{
    position: absolute;
    top: 270px;
    left: 30px;
    height: 40%;
    width: 40%; 
    line-height: 18px;

}
.welcome_box h2{
    color: var(--green);
    font-family: Shrikhand;
    font-size: 42px;
}

.welcome_box p{
    color: var(--dark-green);
    font-family: Philosopher;
    font-size: 22px;
}

.welcome_buttons{
    display: flex;
    flex-direction: row;
}

.welcome_box button{
    background-color: white;
    font-family: Philosopher;
    font-size: 22px;
    font-style: var(--dark-green);
    border-color: hsl(0, 0%, 75%);
    border-radius: 35px;
    height: 45px;
    width: 210px;
    align-items: center;
}

.welcome_box button:hover{
    background-color: var(--green);
    color: white;
    border: none;
}

footer{
    height: 50px;
    background-color: #069D47;
    font-family: Philosopher;
    font-size: 12px;
    padding-top: 19px;
}

footer ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
    align-content: center;
}

footer a{
    color: #ffffff;
    margin-right: 10px;
}

