:root{
    --green: #069D47;
    --dark-green: #002F15;
    --orange: #f15e23;
    --background-blur: 0 0 4px 2px rgb(0 0 0 / 0.1);
    --grid_height: 100vh;
    --grid_row_1: 1fr;
    --grid_row_3: 3fr;
    --grid_row_5: 5fr;
    --grid_row_01: 0.1fr;
    --font_size13: 1.3rem;
    --margin_0: 0;
    --margin_1: 1rem 0 0 8.5rem;
    --margin_2: 0 6rem 0 4rem;
    --padding: 0  3rem 0 3rem;
    --padding2: 5rem 0 1rem 0;
    --padding3: 0 4rem 0 4rem;
    --padding4: 1rem 1rem 1rem 5.5rem;
    --padding5: 1rem 1rem 1rem 1.5rem;
    --padding6: 1rem 1rem 1rem 4rem;
    --padding7: 0 3rem 0 6rem;
    --header_a_fontsize: 1.313rem;
    --rem_30: 30rem;
    --rem_0375: 0.375rem;
    --rem_1: 1rem;
    --rem_2: 2rem;
    --rem_3: 3rem;
    --rem_5: 5rem;
    --rem_6: 6rem;
    --rem_12: 1.2rem;
    --rem_15: 1.5rem;
    --rem18: 18rem;
    --rem_20: 20rem;
    --border_radius12: 12px;
    --per_10: 10%;
    --per_40: 40%;
    --per_35: 35%;
    --per_10: 10%;
    --per_80: 80%;
    --per_70: 70%;
    --footer_ul_padding: 1rem 15rem 1rem 15rem;
    --footer_a_fontsize: 0.8rem;

}
@font-face {
  font-family: Shrikhand;
  src: url(./fonts/Shrikhand-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: Philosopher;
  src: url(./fonts/Philosopher-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url(./fonts/Inter-Regular.ttf);
  font-display: swap;
}

body{
  display: grid;
  height: var(--grid_height);
  grid-template-columns: 3fr 5fr;
  grid-template-rows: 0.1fr 1fr 1fr 1fr 1fr 0.1fr;
  grid-template-areas: 
      "header header"
      "food_recipe_main food_recipe_main"
      "editor editor"
      "ingridents main"
      "recommend main" 
      "footer footer";
  margin: var(--margin_0);
  font-size: var(--font_size13);
}

header{
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: var(--margin_0);  
    padding: var(--padding);

}

header a{
    text-decoration: none;
    color: var(--dark-green);
    font-family: Philosopher;
    font-weight: bold;
    font-size: var(--header_a_fontsize);
}
header .nav1{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .nav1 .logo{
    align-self: center;
    color: var(--green);
    font-family: Shrikhand;
    font-size: var(--rem_12);
}

header .logo h1{
    margin: var(--margin_0);
}

header .nav1 ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .nav1 ul li{
    margin-left: var(--rem_2);
}


header .nav2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

header .nav2 ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .nav2 ul li{
    margin-right: var(--rem_15);
}


header a:hover{
    color: var(--green);
}

.search{
    
  background: var(--green);
  height: 2.2rem;
  border-radius: 40px;

}

.search:hover > .search-txt{
  width: 240px;
}

.search:hover > .search-btn{
  background: white;

  
}

.search-btn{
  color: var(--dark-green);
  border: var(--button-border1);
  float: right;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.search-txt{
  border:none;
  background: none;
  outline: none;
  float:left;
  padding: 0;
  text-align: center;
  color: white;
  font-size: 16px;
  transition: 0.2s;
  line-height:40px;
  width: 0;
}
input::placeholder{
  color: white;
  font-family: Shrikhand;
  font-weight: 600;
  opacity: 0.9;
  font-size: 17px;
}

.food_recipe_main{
  grid-area: food_recipe_main;
  display: flex;
  flex-direction: row;
  grid-area: food_recipe_main;
  margin-top: var(--rem_3);
  justify-content: center;
 
}
.food_recipe_main iframe{
  border-radius: var(--border_radius12);
  width: var(--per_40);
  height: auto;
  padding: var(--padding2);
}

.food_recipe_main .container{
  grid-area: food_recipe_details;
  padding: var(--padding3);
  font-family: Inter;
  background-color: white;
  border-radius: var(--border_radius12);
  box-shadow: var(--background-blur);
  width: var(--per_35);
  height: auto;
  margin-left: var(--rem_3);

} 
.button1{
  border-radius: var(--border_radius12);
  border: var(--green);
  background-color: var(--green);
  color: #fff;
  padding: var(--rem_0375);
  width: var(--rem_5);
}
.button2{
  border-radius: var(--border_radius12);
  border: var(--orange);
  background-color: var(--orange);
  color: #fff;
  padding: var(--rem_0375);
  width: var(--rem_5);
}
.icons{
  margin-left: var(--rem18);
  margin-bottom: var(--rem_1);
  display: flex;
  flex-direction: row;
}

.editor{
  grid-area: editor;
  display: flex;
  flex-direction: row;
  margin-left: var(--rem_5);
  font-family: Inter;
}
.editor img{
  padding-top: var(--rem_12);
}
.ingridents h3{
  font-family: Inter;
  align-self: stretch;
  padding: var(--padding4);
}
.ingridents ul{
  grid-area: ingridents;
  margin: var(--margin_1);
  padding: var(--padding5);
  font-family: Inter;
  background-color: white;
  border-radius: var(--border_radius12);
  box-shadow: var(--background-blur);
  
}
.ingridents ul li{
  margin-left: var(--rem_2);
}

main{
  grid-area: main;
  font-family: Inter;
  padding: var(--padding);
}

.recipe_requiment{
  grid-area: recommend;
  padding-left: var(--per_10);
  font-family: Inter;
  align-self: stretch;
  padding: var(--padding5);
  
}
.recipe_requiment img{
  width: var(--rem_20);
  padding: var(--padding6);
  width: var(--per_80);
  height: auto;
}
.instruction img{
  margin: var(--margin_2);
  padding: var(--rem_1); 
  width: var(--per_70);
  height: auto;
  border-radius: var(--border_radius12);
}
.instruction{

}

.instruction p{
  font-family: Inter;
  background-color: white;
  border-radius: var(--border_radius12);
  box-shadow: var(--background-blur);
  padding: var(--rem_1);
  margin-bottom: var(--rem_3);
}
footer{
    grid-area: footer;
    margin: var(--margin_0);
    background-color: green;
    font-family: Philosopher;
}

footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: var(--footer_ul_padding)
}

footer a{
    font-size: var(--footer_a_fontsize);
    text-decoration: none;
    color: white;
}

ul{
    list-style-type: none;
    margin: var(--margin_0);
    padding: var(--margin_0);
}
@media only screen and (max-width: 1024px){
  body{
      grid-template-columns: 1fr;
      grid-template-rows: 0.4fr 1fr 1fr 0.2fr 2fr 3fr 1fr 0.4fr;
      grid-template-areas: 
          "header"
          "food_recipe_main"
          "editor"
          "food_recipe_details"
          "ingridents"
          "main"
          "recommend"
          "footer";
  }
  .recipe_requiment{
    grid-area: recommend;
    padding-left: var(--per_10);
    font-family: Inter;
    align-self: stretch;
    padding-right: var(--rem_6);
    
  }
  .recipe_requiment img{
    width: var(--per_40);
    height: auto;
    padding: var(--padding6);
  }
  .instruction_set{
    grid-area: main;
    padding: var(--padding7);
    font-family: Inter;
    align-self: stretch;
  } 
}