:root{
    --green: #069D47;
    --dark-green: #002F15;
}

@font-face {
    font-family: Shrikhand;
    src: url(./fonts/Shrikhand-Regular.ttf);
}

@font-face {
    font-family: Philosopher;
    src: url(./fonts/Philosopher-Regular.ttf);
}

header{
    width: 100%;
    margin: auto;

}

nav{
    margin: 30px auto;
    display: flex;
    align-items: center;
}

header .logo{
    color: var(--green);
    font-family: Shrikhand;
    font-size: 24px;
}

header a{
    text-decoration: none;
    color: var(--dark-green);
    font-weight: bold;
    font-size: 21px;
}

header a:hover{
    color: var(--green);
}

header ul{
    flex: 1;
    text-align: right;
}

header li{
    display: inline-block;
    list-style-type: none;
    margin: 0;
}

.background{
    position: relative;
    height: auto;
    min-width: 100%;
}

.welcome_box{
    position: absolute;
    top: 400px;
    left: 140px;
    height: 30%;
    width: 25%; 
}

.welcome_box h2{
    color: var(--green);
    font-family: Shrikhand;
    font-size: 42px;
}

.welcome_box p{
    color: var(--dark-green);
    font-family: Philosopher;
    font-size: 24px;
}

.welcome_buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.welcome_box button{
    background-color: white;

    font-family: Philosopher;
    font-style: var(--dark-green);

    border-color: hsl(0, 0%, 75%);
    border-radius: 35px;

    height: 40px;
    width: 200px;

    align-items: center;
}

.welcome_box button:hover{
    border: none;
    background-color: var(--green);
    color: white;
}

footer{
    padding-left: 300px;
    height: 95px;
    margin: 0;
    background-color: #069D47;
    font-family: Philosopher;
}

footer ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none; 
    list-style-type: none;
    margin-top: 40px;
    
}

footer a{
    text-decoration: none;
    color: #ffffff;
    margin-right: 50px;
}

