:root{
    --green: #069D47;
    --dark-green: #002F15;
    --orange: #f15e23;
    --background-blur: 0 0 4px 2px rgb(0 0 0 / 0.1);
    --grid_height: 100vh;
    --grid_row_1: 1fr;
    --grid_row_01: 0.1fr;
    --margin_0: 0;
    --margin_header: 0 1rem 0 1rem;
    --header_a_fontsize: 1.313rem;
    --rem_025: 0.25rem;
    --rem_15625: 15.625rem;
    --rem_1: 1rem;
    --rem_12: 1.2rem;
    --rem_15: 2rem;
    --rem_2: 2rem;
    --rem_13: 13rem;
    --rem_32: 3.2rem;
    --rem_5: 5rem;
    --rem_177: 17.7rem; 
    --per_100: 100%;
    --padding1: 1rem 4rem 2rem 4rem;
    --margin_1: 0 0 2rem 0;
    --margin_2: 0 0.3rem 0 0;
    --border_radius12: 12px;
    --border_radius25: 25px;
    --border_radius35: 35px;
    --border_1: 1px solid #868686;
    --font_w500: 500;
    --font_w600: 600;
    --footer_ul_padding: 1rem 15rem 1rem 15rem;
    --footer_a_fontsize: 0.8rem;
}
@font-face {
  font-family: Shrikhand;
  src: url(./fonts/Shrikhand-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: Philosopher;
  src: url(./fonts/Philosopher-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url(./fonts/Inter-Regular.ttf);
  font-display: swap;
}

body{
    display: grid;
    height: var(--grid_height);
    grid-template-columns: 1.5fr 1.5fr;
    grid-template-rows: 0.1fr max-content 0.1fr;
    grid-template-areas: 
        "header header"
        "img main" 
        "footer footer";
    margin: 0;
}

header{
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:  var(--margin_header);
}

header nav{
    align-self: center;
}

header .logo{
    align-self: center;
    color: var(--green);
    font-family: Shrikhand;
    font-size: var(--rem_12);
    
}

header .logo h1{
    margin: var(--margin_0);
}

header a{
    text-decoration: none;
    color: var(--dark-green);
    font-family: Philosopher;
    font-weight: bold;
    font-size: var(--header_a_fontsize);
}

header a:hover{
    color: var(--green);
}

ul{
    list-style-type: none;
}

main{
    position: relative;
    display: flex;
    flex-direction: row;
}
main h2{
    color: var(--dark-green);
    font-family: Philosopher;
    font-weight: bold;
    font-size: var(--rem_15);
    text-align: center;
    font-size: var(--rem_2);
}

main h2 b{
    color: var(--green);
    font-family: Shrikhand;
    font-size: var(--rem_2);
}
main div p{
    text-align: center;
    font-family: Philosopher;
}


main img{
    width: var(--per_100);
    grid-area: img;
    height: auto;
}
main div.formm{
    padding: var(--padding1);
    margin: var(--margin_1);
    grid-area: main;
    background-color: white;
    border-radius: var(--border_radius12);
    box-shadow: var(--background-blur);
}
main div form input{
    background-color: white;
    border-radius: var(--border_radius25);
    border: var(--border_1);
    padding: var(--rem_1);
    margin: var(--rem_025);
    width: var(--rem_15625);
}
.connection{
    background-color: white;
    border-radius: var(--border_radius25);
    border: var(--border_1);
    padding: var(--rem_1);
    margin: var(--rem_025);
    width: var(--rem_15625);
    height: var(--rem_1);
    text-align: center;
    display: flex;
    justify-content: center;
    place-items: center;

}
.connection img{
    height: var(--rem_15);
    width: var(--rem_15);
    margin: var(--margin_2)
}
main div form button{
    background-color: var(--green);
    color: white;
    font-size: var(--header_a_fontsize);
    color: var(--dark-green);

    border-color: var(--green);
    border-style: solid;
    border-radius: var(--border_radius35);

    width: var(--rem_13);
    height: var(--rem_32);

    align-items: center;
    margin: var(--rem_025);
    width: var(--rem_177);
    
}
main div form button:hover{
    background-color: var(--orange);
    color: white;
    font-size: var(--header_a_fontsize);
    color: var(--dark-green);

    border-color: var(--orange);
    border-style: solid;
    border-radius: var(--border_radius35);

    width: var(--rem_13);
    height: var(--rem_32);

    align-items: center;
    margin: var(--rem_025);
    width: var(--rem_177);
}

main div form button a{
    color: white;
    text-decoration: none;
}
footer{
    grid-area: footer;
    margin: 0;
    background-color: var(--green);
    font-family: Philosopher;
}

footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: var(--footer_ul_padding);
}

footer a{
    font-size: var(--footer_a_fontsize);
    text-decoration: none;
    color: white;
}

footer ul{
    list-style-type: none;
}
