:root{
    --green: #069D47;
    --mid_green: #04672F;
    --dark-green: #002F15;
    --gray: hsl(0, 0%, 75%);
    --background-blur: 0 0 4px 2px rgb(0 0 0 / 0.1);
    --form-input-border: 1px solid var(--gray);
    --button-border: 3px solid var(--mid_green);
    --cover-h2-size: 2rem;
    --main-h2-size: 1.5rem;
    --img-border-radius: 5px;
    --blur-border-radius: 12px;
    --category-radius: 90px;
    --border_radius35: 35px;
    --grid_height: 100vh;
    --grid_row_1: 1fr;
    --grid_row_01: 0.1fr;
    --margin_0: 0;
    --margin_header: 0 1rem 0 1rem;
    --rem_05: 0.5rem;
    --rem_03: 0.3rem;
    --rem_1: 1rem;
    --rem_12: 1.2rem;
    --rem_15: 1.5rem;
    --rem_2: 2rem;
    --rem_3: 3rem;
    --rem_4: 4rem;
    --rem_5: 5rem;
    --rem_30: 30rem;
    --per_50: 50%;
    --header_a_fontsize: 1.313rem;
    --footer_ul_padding: 1rem 15rem 1rem 15rem;
    --footer_a_fontsize: 0.8rem;
}

@font-face {
    font-family: Shrikhand;
    src: url(./fonts/Shrikhand-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: Philosopher;
    src: url(./fonts/Philosopher-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: Inter;
    src: url(./fonts/Inter-Regular.ttf);
    font-display: swap;
}

body{
    display: grid;
    height: var(--grid_height);
    grid-template-columns: 3.5fr 2.5fr 4fr;
    grid-template-rows: 0.1fr 1fr max-content 0.1fr;
    grid-template-areas: 
        "header header header"
        "cover cover cover"
        "main main aside" 
        "footer footer footer";
    margin: var(--margin_0);
}

header{
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: var(--margin_header);
}

header a{
    text-decoration: none;
    color: var(--dark-green);
    font-family: Philosopher;
    font-weight: bold;
    font-size: var(--header_a_fontsize);
}
header .nav1{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .nav1 .logo{
    align-self: center;
    color: var(--green);
    font-family: Shrikhand;
    font-size: var(--rem_12);
}

header .logo h1{
    margin: var(--margin_0);
}

header .nav1 ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .nav1 ul li{
    margin-left: var(--rem_2);
}


header .nav2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

header .nav2 ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .nav2 ul li{
    margin-right: var(--rem_15);
}


header a:hover{
    color: var(--green);
}

.search{
    
    background: var(--green);
    height: 2.2rem;
    border-radius: 40px;

}

.search:hover > .search-txt{
    width: 240px;
}

.search:hover > .search-btn{
    background: white;

    
}

.search-btn{
    color: var(--dark-green);
    border: var(--button-border1);
    float: right;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.search-txt{
    border:none;
    background: none;
    outline: none;
    float:left;
    padding: 0;
    text-align: center;
    color: white;
    font-size: 16px;
    transition: 0.2s;
    line-height:40px;
    width: 0;
}
input::placeholder{
    color: white;
    font-family: Shrikhand;
    font-weight: 600;
    opacity: 0.9;
    font-size: 17px;
}

.user_cover{
    grid-area: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: var(--rem_2);
}

.user_details{
    position: absolute;
    align-self: center;
    text-align: center;
    font-family: Inter;
}

main{
    margin-left: var(--rem_5);
    grid-area: main;
    margin-bottom: var(--rem_3);
}

main img{
    width: var(--per_50);
    height: auto;
    border-radius: var(--blur-border-radius);
}

main h2{
    font-family: Inter;
    font-weight: bold;
    font-size: var(--rem_15);
}

.box{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: var(--rem_2);
}

.box_description{
    align-self: stretch;
    margin: var(--margin_header);
    width: var(--rem_30);
    padding-left: var(--rem_1);
    font-family: Inter;
    background-color: white;
    border-radius: var(--blur-border-radius);
    box-shadow: var(--background-blur);
}

.box_description h3{
    font-size: var(--rem_15);
    font-weight: bold;
}

.button_seemore{
    width: 97%;
    height: var(--rem_4);
    border-color: var(--gray);
    border-style: solid;
    border-radius: var(--border_radius35);
    background-color: white;
    color: var(--dark-green);
    font-family: Inter;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.button_seemore:hover{
    background-color: var(--green);
    color: white;
    border: none;
}

.foodCat{
    width: fit-content;
    padding: var(--rem_03);
    background-color: var(--mid_green);
    color: white;
    border-radius: var(--category-radius);
}

aside{
    grid-area: aside;
    display: flex;
    flex-direction: column;
    margin-left: var(--rem_2);
}

aside h2{
    font-family: Inter;
    font-weight: bold;
    font-size: var(--rem_15);
}

.saved img{
    margin: var(--rem_05);
}

footer{
    grid-area: footer;
    margin: var(--margin_0);
    background-color: var(--mid_green);
    font-family: Philosopher;
}

footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: var(--footer_ul_padding);
}

footer a{
    font-size: var(--footer_a_fontsize);
    text-decoration: none;
    color: white;
}

ul{
    list-style-type: none;
    margin: var(--margin_0);
    padding: var(--margin_0);
}

@media only screen and (max-width: 1024px){
    body{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 1fr 3fr 2fr 0.4fr;
        grid-template-areas: 
            "header"
            "cover"
            "main"
            "aside"
            "footer";
    }
}
